{{!-- This handlebars partial generates the create, update, and delete form for creating, updating, and deleting
blog posts and comments. --}}
<section id="create-update-delete-post" class="bg-light">
    <section class="col-10 m-3 px-0 border">
        <section class="bg-secondary d-flex justify-content-between align-items-center">
            <h2>{{{cudFormTitle}}}</h2>
        </section>
        <section>
            {{#if (equals type "Blog Post")}}
                <label for="post-title" class="d-block ml-2">Title:</label>
                <input type="text" id="post-title" class="col-9 d-block ml-2" value="{{{elementToBeEdited.title}}}">
            {{/if}}
            <label for="content"class="d-block mt-2 ml-2">Content:</label>
            <input type="text" id="content" class="col-9 d-block ml-2" value="{{{elementToBeEdited.content}}}">
            {{#if newElement}}
                <button id="create-button" data-type="{{{type}}}" class="col-9 ml-2 mt-2">Create New {{{type}}}</button>
            {{/if}}
            {{#unless newElement}}
                <button id="update-button" data-type="{{{type}}}" data-edit-element-id="{{{editElementId}}}" class="col-9 ml-2 mt-2">Update {{{type}}}</button>
                <button id="delete-button" data-type="{{{type}}}" data-edit-element-id="{{{editElementId}}}" class="col-9 ml-2 mt-2">Delete {{{type}}}</button>
            {{/unless}} 
            <p id="error-message" class="text-center text-danger">{{{error}}}</p>
        </section>
    </section>
    <script src="/javascript/create-update-delete.js" defer></script>
