{{!-- <section id="posts-section" class="bg-light">

    <h2>{{{loggedIn}}}</h2>
    {{#each blogPosts as |post|}}
        <section id="{{{generateUuid}}}" class="col-10 m-3 px-0 border" data-database-post-id="{{{post.id}}}">
            <section class="bg-secondary d-flex justify-content-between align-items-center">
                <h2>{{{loggedIn}}}</h2>
                <p class="my-0 mr-2">Created by {{{user.username}}} on {{{createdAt}}}</p>
            </section>
            <p class="ml-3">{{{content}}}</p>
        </section>
    {{/each}}

    <section class="d-flex align-items-center justify-content-around">
        {{#if ( equals loggedIn "true")}}
            <button id="new-post-button" class="bg-secondary">+ New Post</button>
        {{/if}}
    </section>
</section>
<script id="comment-post-functions-script" src="/javascript/prepare-comment-functions.js" data-which-page="{{{loggedIn}}}" defer></script> --}}

<section id="posts-section" class="background d-flex align-items-center flex-column">
    {{#if displayCudForm}}
            {{> create-update-delete}}
    {{else}}
        {{#each blogPosts as |post|}}
            <section id="{{{generateUuid}}}" class="col-11 m-3 px-0 post-border pointer-brightness rounded" data-database-post-id="{{{post.id}}}">
                <section class="post-title-background d-flex justify-content-between align-items-center">
                    <h2 class="m-2">{{{title}}}</h2>
                    {{#if ( equals ../whichPage "home")}}
                        <p class="my-0 mr-2 small-text">Created by <b>{{{user.username}}}</b> on {{{formatDate createdAt}}}</p>
                    {{/if}}
                    {{#if ( equals ../whichPage "dashboard")}}
                        <p class="my-0 mr-2 small-text">{{{formatDate createdAt}}}</p>
                    {{/if}}
                </section>
                {{#if ( equals ../whichPage "home")}}
                    <p class="ml-3 mt-2 small-text">{{{content}}}</p>
                {{/if}}
            </section>
        {{/each}}

        {{#if (equals whichPage "dashboard")}}
        <section class="d-flex align-items-center justify-content-around">
            
            {{#unless displayCudForm}}
                <button id="new-post-button" class="bg-secondary">+ New Post</button>
            {{/unless}}
            
        </section>
        {{/if}}
    {{/if}}
</section>
<script id="post-functions-script" src="/javascript/prepare-post-functions.js" data-which-page="{{{whichPage}}}"></script>

    

